<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HiLoBot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HiLoBot.My.MySettings>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="last_pattern" serializeAs="String">
                <value>1,0,1,0,5,4,2,7</value>
            </setting>
        </HiLoBot.My.MySettings>
    </userSettings>
</configuration>